body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

#content {
    margin-left: 290px;
    width: calc(100% - 200px);
    transition: margin-left 0.3s, width 0.3s;
}

.wrapper {
    display: flex;
}

.main-content {
    text-align: center;
}

.main-content h2 {
    font-weight: bold;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 30px;
}


/* sidebar ------------------------------------------------------------------ */
.sidebar {
    width: 290px;
    height: 100vh;
    background: #ffffff;
    color: #ffffff;
    transition: width 0.3s, margin-left 0.3s;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.6px;
    background: #3760F2;
    box-shadow: 0 5px 10px rgba(0, 0, 0.3, 0);
}

.sidebar-header h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 22px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
    list-style: none;
    padding: 11px;
    font-weight: bold;
}

.sidebar ul li {
    padding: 15px;
    /* border-bottom: 1px solid #be0202; */
}

.sidebar ul li a:hover {
    background-color: #EEEBE3;
    border-radius: 6px;
}

.sidebar ul li a {
    color: #717070;
    text-decoration: none;
    display: block;
}

.sidebar ul li.active a {
    color: #ffffff;
    background-color: #3760F2;
    border-radius: 6px;
    padding: 11px;
}
/* end ------------------------------------------------------------------ */




/* navbar ------------------------------------------------------------------ */

.navbar {
    background: #0B30F1;
    padding: 27px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;

    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    /* z-index: 999; */
}

.navbar-right {
    display: flex;
    align-items: center;
}
/* end ------------------------------------------------------------------ */


/* setting -----------------------------------------------------------------------*/


.container-setting {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.setting-core {
    display: grid;
    width: 500px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #ffffff;
    color: black; /* warna teks */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
}

.arrow-icon {
    position: relative;
    display: inline-block;
  }
  
  .arrow-icon::before {
    content: "";
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: -15px; /* Sesuaikan sesuai dengan kebutuhan */
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transform: translateY(-50%);
  }

  .icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding:10px;
  }
  
  

.back-to-dashboard {
    /* display: inline-block; */
    background: none;
    border: none;
    font-size: 1.5rem; /* Ukuran ikon */
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
    margin-bottom: 20px; /* Mengatur jarak antara tombol dan konten di bawahnya */
}



.back-to-dashboard:hover {
    color: #000;
}

.admin-info, .update-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-info {
    margin-bottom: 20px;
}

.update-info {
    margin-bottom: 100px;
}

.info-item {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0B30F1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3760F2;
}




/* end ------------------------------------------------------------------*/


/* logo admin di navbar ------------------------------------------------------------------*/
.dropbtn {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.person-admin {
    font-size: 30px;
    padding-right: 10px;
}

.arrow-admin {
    font-size: 15px;
    padding-left: 8px;
}
/* end ------------------------------------------------------------------*/


/* dropdown ------------------------------------------------------------------ */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* icon list pada sidebar ------------------------------------------------------- */

.manual-list-icon {
    display: inline-block;
    width: 28px; /* Lebar ikon */
    height: 23px; /* Tinggi ikon */
    position: relative;
}

.manual-list-icon::before,
.manual-list-icon::after,
.manual-list-icon span {
    content: '';
    display: block;
    width: 100%;
    height: 3.5px; /* Ketebalan garis */
    background-color: white;
    position: absolute;
    left: 0;
    border-radius: 2px; /* Membuat garis rounded */
}

.manual-list-icon::before {
    top: 2px; /* Jarak dari atas untuk garis pertama */
}

.manual-list-icon::after {
    top: 18px; /* Jarak dari atas untuk garis ketiga */
}

.manual-list-icon span {
    top: 10px; /* Jarak dari atas untuk garis tengah */
}

#sidebarToggle, #sidebarToggleOutside {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

#sidebarToggle {
    margin-left: 5px;
    padding-right: 10px;
}

#sidebarToggleOutside {
    position: fixed;
    top: 31px;
    color: #fff; /* Mengubah warna teks menjadi putih */
    background: #000000;
    padding: 10px 25px; /* Menambah padding horizontal untuk memberikan ruang */
    /* box-shadow: 0 9px 5px rgba(0, 0, 0.9, 0.2); */
    transition: left 0.3s;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%);
    text-align: center; /* Untuk memusatkan teks */
    line-height: 1.5em; /* Untuk memusatkan teks secara vertikal */
}

.hidden {
    display: none;
}

.sidebar.hidden {
    width: 0;
}
/* end ------------------------------------------------------------------ */


#content.fullwidth {
    margin-left: 0;
    width: 100%;
}


/* main content dashboard --------------------------------------------------- */
.wrapper-dsh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 80px;
}
.main-content-dsh {
    text-align: center;
}
.main-content-dsh h2{
    font-weight: bold;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
    margin-left: -500px; 

}

@media (min-width: 1920px) {
    .main-content-dsh h2 {
        max-width: 1920px;
        margin: 0 auto;
        margin-left: -900px;

    }
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 1366px) {
    .info-cards {
        max-width: 1366px;
        gap: 30px;
    }
}

.icbg-dp {
    background: #e0e7ff; /* Latar belakang biru muda */
    padding: 20px;
    border-radius: 10px; /* Sudut kartu yang melengkung */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Teks rata kiri */
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}
.icbg-dpt {
    background: #DFF2E1; /* Latar belakang biru muda */
    padding: 20px;
    border-radius: 10px; /* Sudut kartu yang melengkung */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Teks rata kiri */
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}
.icbg-ht {
    background: #F6CBCB; /* Latar belakang biru muda */
    padding: 20px;
    border-radius: 10px; /* Sudut kartu yang melengkung */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Teks rata kiri */
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}
.icbg-lp {
    background: #fccfb7; /* Latar belakang biru muda */
    padding: 20px;
    border-radius: 10px; /* Sudut kartu yang melengkung */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Teks rata kiri */
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}


.info-card:hover {
    transform: translateY(-5px); /* Efek hover */
}

.info-card-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.data-pengunjung {
    font-size: 5em; /* Ukuran ikon lebih besar */
    color: #0B30F1; /* Warna ikon biru */
    margin-right: 10px;
}
.data-pembelian-tiket {
    font-size: 5em; /* Ukuran ikon lebih besar */
    color: #0F8305; /* Warna ikon biru */
    margin-right: 10px;
}
.harga-tiket {
    font-size: 5em; /* Ukuran ikon lebih besar */
    color: #ED0707; /* Warna ikon biru */
    margin-right: 10px;
}
.laporan-pendapatan {
    font-size: 5em; /* Ukuran ikon lebih besar */
    color: #FA5F08; /* Warna ikon biru */
    margin-right: 10px;
}

.ic-data-pengunjung {
    padding-left: 20px;
    margin: 0;
    color: #0B30F1; /* Warna teks biru */
    font-size: 1.5em; /* Ukuran teks lebih besar */
}
.ic-data-pembelian-tiket {
    padding-left: 20px;
    margin: 0;
    color: #0F8305; /* Warna teks biru */
    font-size: 1.5em; /* Ukuran teks lebih besar */
}
.ic-harga-tiket {
    padding-left: 20px;
    margin: 0;
    color: #ED0707; /* Warna teks biru */
    font-size: 1.5em; /* Ukuran teks lebih besar */
}
.ic-laporan-pendapatan {
    padding-left: 20px;
    margin: 0;
    color: #FA5F08; /* Warna teks biru */
    font-size: 1.5em; /* Ukuran teks lebih besar */
}

.details-link {
    background: #fff; /* Latar belakang putih */
    color: #0B30F1; /* Warna teks biru */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px; /* Sudut tombol melengkung */
    margin-top: auto;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.details-link h4 {
    font-size: 15px;
    margin: 0;
}

.details-link i {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Media query untuk penyesuaian tampilan pada layar lebih kecil */
@media (max-width: 768px) {
    .info-card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .info-card {
        width: 100%;
    }
}


/* filter tahun, chart dan leaderboard pada data_pengunjung.php --------------------------------------- */
/* filter tahun */
.filter-buttons {
    gap: 15px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.filter-button {
    /* padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
    */
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#btn2023 {
    background-color: #f0d4f0;
    color: #4b0082;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 28%; 
    height: auto;
    display: flex;
    justify-content: space-between;
}

#btn2024 {
    background-color: #d1e0ff;
    color: #0000ff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 28%; 
    height: auto;
    display: flex;
    justify-content: space-between;
}

.filter-button:hover {
    opacity: 0.8;
}

.icon-people-dpsatu {
    font-size: 5em;
    color: #830498;
}
.icon-people-dpdua {
    font-size: 5em;
    color: #0B30F1;
}

.ic-pdpsatu {
    padding-left: 10px;
    margin: 0;
    color: #830498;
    font-size: 1.5em;
}
.ic-pdpdua {
    padding-left: 10px;
    margin: 0;
    color: #0B30F1;
    font-size: 1.5em;
}

/* chart */
.chart-container {
    width: 100%; /* Atur lebar sesuai kebutuhan Anda */
    max-width: 1000px; /* Atur lebar maksimum sesuai kebutuhan Anda */
    margin: 0 auto; /* Tengah-kan chart */
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

@media (min-width: 1366px) {
    .chart-container {
        max-width: 1366px;
        width: 65%;
    }
}

/* leaderboard */
.leaderboard-container {
    padding-bottom: 50px;
    margin-top: 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.leaderboard-table {
    width: 55%;
    border-collapse: collapse;
    margin-top: 20px;

 
}
.leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.leaderboard-table th {
    background-color: #f2f2f2;
}

.sort-button {
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    background-color: #0099FF ;
    color: white;
    border: none;
    border-radius: 4px;
}

/* end ---------------------------------------------------------------------------- */


/* data pembelian tiket -------------------------------------------------------------- */

.wrapper-dpt {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.main-content-dpt {
    text-align: center;
}


.main-content-dpt h2 {
    font-weight: bold;
    font-size: 35px;
    padding-top: 50px;
}

.table-container {
    display: inline-block; 
    text-align: left; 
    margin-top: 20px;
    padding-bottom: 50px;
}

@media (min-width: 1366px) {
    .table-container {
        max-width: 1366px;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
    }
}

#tbl-dpt {
    border-collapse: collapse;
    margin: 0 auto;
}

#tbl-dpt,td, th {
text-align: center;
}

#tbl-dpt td, #tbl-dpt th {
border: 1px solid #000000;
padding: 6px;
padding-left: 15px;
padding-right: 15px;
}

/* #tbl-dpt tr:nth-child(even){background-color: #f2f2f2;}

#tbl-dpt tr:hover {background-color: #ddd;} */

#tbl-dpt th {
padding-top: 12px;
padding-bottom: 12px;
color: rgb(0, 0, 0);
}

.btn-primary {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #2299fc;
    border: 1px solid #2299fc;
    border-radius: 3px;
    color: #ffffff;
}
.not-allowed-cursor {
    cursor: not-allowed;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #77c2ff;
    border: 1px solid #77c2ff;
    border-radius: 3px;
    color: #ffffff;
}


/* end -------------------------------------------------------------------------------- */


/* filter dan chart pada laporan_pendapatan.php -------------------------------------------- */
/* tombol filter */
.main-content-lp {
    text-align: center;
    padding-bottom: 70px;
    font-weight: bold;
    font-size: 23px;
    padding-top: 51px;
    padding-bottom: 60px;
}

.filter-buttonslp {
    gap: 15px;
    padding-top: 30px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.filter-buttonlp {
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#filterYearBtn {
    background-color: #f0d4f0;
    color: #4b0082;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 28%; 
    height: auto;
    display: flex;
    justify-content: space-between;
}

#sortMonthBtn {
    background-color: #d1e0ff;
    color: #0000ff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 28%; 
    height: auto;
    display: flex;
    justify-content: space-between;
}

.filter-buttonlp:hover {
    opacity: 0.8;
}

.icon-lpsatu {
    font-size: 5em;
    color: #830498;
}
.icon-lpdua {
    font-size: 5em;
    color: #0B30F1;
}

.ic-lpsatu {
    padding-left: 10px;
    margin: 0;
    color: #830498;
    font-size: 1.5em;
}
.ic-lpdua {
    padding-left: 10px;
    margin: 0;
    color: #0B30F1;
    font-size: 1.5em;
}

/* popup filter */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popup-content button {
    margin: 5px;
}

/* end ------------------------------------------------------------------------------ */

/* harga tiket ---------------------------------------------------------------------- */
.wrapper-ht {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

#wahana-ht, #waktu-bermain-ht {
    text-align: left;
}

.main-content-ht {
    text-align: center;
}

.main-content-ht h2 {
    font-weight: bold;
    font-size: 35px;
    padding-top: 50px;
}
.main-content-ht h3 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    margin-left: -270px; /* Sesuaikan nilai ini */
}

#tbl-ht {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 60px;
}

#tbl-ht,td, th {
text-align: center;
}

#tbl-ht td, #tbl-ht th {
border: 1px solid #000000;
padding: 6px;
padding-left: 15px;
padding-right: 15px;
}

/* #tbl-ht tr:nth-child(even){background-color: #f2f2f2;}

#tbl-ht tr:hover {background-color: #ddd;} */

#tbl-ht th {
padding-top: 12px;
padding-bottom: 12px;
color: rgb(0, 0, 0);
}

.btn-warning {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fda528;
    border: 1px solid #fda528;
    border-radius: 3px;
    color: #ffffff;
}

/* end ------------------------------------------------------------------------- */