* body {
    background-color: white;
}

input {
    width: 300px;
    height: 30px;
    border-color: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }

#email, #password {
    border: 2px solid #ccc; /* Warna border awal */
    border-radius: 5px;
    padding: 5px;
    transition: border-color 0.3s ease; /* Animasi perubahan warna border */
}
#email:focus {
    border-color: #3760F2;
}
#password:focus {
    border-color: #3760F2; 
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center; 
    margin-top: 40px;
    width: 1000px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #ffffff;
    color: black; /* warna teks */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.foto {
    background-image: url('../img/logoLogin.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 45px;
    width: 85%; 
    height: 85%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* garis di tengah grid */
    width: 2px; /* Ketebalan garis */
    background-color: gray; /* Warna garis */
    transform: translateX(-50%); /* Memindahkan garis ke kiri setengah dari lebar garis */
}

.login-btn {
    width: 311px;
    height: 30px;
    border: none;
    background-color: #3760F2;
    color: white;
    border-radius: 5px;
}
.login-btn:hover {
    background-color: #0026ff;
}